/*** Styling for CSS the Right Way ***/

/** palette ***************************************************
*** yellow light: #ff0; dark: #993; text (on yellow): #663; ***
*** blue-green: #099;                                       ***
*** wine: #903;                                             ***
***************************************************************/

html {
  height: 100%;
}
body {
  height: 100%;
  font-style: normal;
  font-variant: normal;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

article:nth-child(2) h2.blue {
  color: DarkCyan;
}