/*** Styling for CSS the Right Way ***/

/********************** PALETTE **********************
*** text:         #333;   (body text)              ***
*** a:link        #03c;   (links)                  ***
*** a:visited     #03c;   (visited link)           *** 
*** a:hover:      #69f;   (link hover state)       ***
*** wine:         #903;   (red header)             *** 
*** blue-green:   #099;   (blue header)            ***
*** yellow light: #ff0;   (aside background color) ***
*** yellow dark:  #993;   (aside border color)     ***
*** text[2]:      #663;   (text on yellow)         ***
******************************************************/

html {
  height: 100%;
}
body {
  height: 100%;
  font-style: normal;
  font-variant: normal;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

article:nth-child(2) h2.blue {
  color: DarkCyan;
}
