/*** Styling [SOLUTION]for CSS the Right Way ***/

/** palette ***************************************************
*** yellow light: #ff0; dark: #993; text (on yellow): #663; ***
*** blue-green: #099;                                       ***
*** marroon: #903;                                          ***
***************************************************************/

html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font: normal normal 500 14px/1.5 Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1;
}
h1 {
  font-size: 43px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 28px;
}
p {
  margin: 0 0 14px;
}
a:link,
a:visited {
  color: #03c;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #69f;
  text-decoration: underline;
}
main,
article,
aside {
  width: 100%;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-blue {
  color: #099;
}
.text-wine {
  color: #903;
}
.text-on-yellow {
  color: #663;
}
.background-yellow {
  background-color: #ff0;
}
.clearfix {
  clear: both;
}
.content {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  width: 100%;
  margin-bottom: 20px;
  background-color: #000;
  padding: 10px;
}
header h1 {
  width: 100%;
  color: #fff;
}

article .content {
  display: flex;
  margin-bottom: 55px;
}
article img {
  width: 100%;
}
article.top .img-container {
  width: 350px;
  margin-right: 20px;
}
article.top .txt-container {
  width: 620px;
}
article.second .img-container {
  width: 200px;
  margin-left: 30px;
}
article.second .txt-container {
  width: 760px;
  margin-left: calc(100% - 990px);
}
article.second .link-container {
  width: 100%;
}
@media (max-width: 768px) {
  .content {
    padding: 0 5px;
  }
  article .content {
    display: block;
  }
  article.top .img-container,
  article.second .img-container {
    margin: 0 auto;
  }
  article.top .txt-container,
  article.second .txt-container {
    width: 100%;
    margin-left: 0;
  }
  article.second .link-container {
    margin-bottom: 20px;
  }
}

aside.background-yellow {
  border-top: 10px solid #993;
  border-bottom: 10px solid #993;
  color: #663;
  margin-bottom: 55px;
}
aside .content {
  max-width: 910px;
  padding: 20px 0 25px;
}
aside .img-container {
  display: flex;
  justify-content: center;
}
aside .img-container div {
  width: 165px;
  height: 165px;
  border-radius: 165px;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.3);
  margin: 20px 15px;
}
aside .img-container img {
  width: 100%;
}
aside .txt-container {
  display: flex;
}
aside .txt-container p {
  width: calc(100% - 161px);
  margin-right: 20px;
}
aside .link-container {
  background-color: #993;
  width: 141px;
  height: 141px;
  border-radius: 141px;
  text-align: center;
  padding: 40px 15px 0;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
}
aside .link-container a:link,
aside .link-container a:visited {
  color: #fff;
  font-size: 24px;
  line-height: 1;
  text-decoration: none;
}
@media (max-width: 768px) {
  aside .content {
    padding: 20px 5px 25px;
  }
  aside .img-container div {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 20px 7px;
  }
  aside .txt-container {
    display: block;
  }
  aside .txt-container p {
    width: 100%;
    margin-right: 0;
  }
  aside .link-container {
    margin: 10px auto 0;
  }
}

footer {
  background-color: #000;
  color: #fff;
  font-size: 12px;
  height: 45px;
  line-height: 45px;
}



