/*** Styling for CSS the Right Way ***/

html {
  height: 100%;
}
body {
  color: #333;
  font: normal normal 500 14px/1.5 Arial, sans-serif;
  height: 100%;
  margin: 0;
}
a:link,
a:visited {
  color: #03c;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #69f;
  text-decoration: underline;
}
h1 {
  font-size: 3em;
  margin: 0;
}
h2,
h3 {
  line-height: 1;
  margin: 0;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
p {
  margin: 0 0 15px;
}
header {
  background-color: #000;
  height: 75px;
  line-height: 75px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
}
article {
  margin: 0 auto 55px;
  max-width: 1140px;
  width: 100%;
}
aside {
  border-top: 10px solid #993;
  border-bottom: 10px solid #993;
  margin-bottom: 55px;
  width: 100%;
}
footer {
  background-color: #000;
  font-size: .85em;
  height: 45px;
  line-height: 45px;
  overflow: hidden;
  width: 100%;
}


* {
  box-sizing: border-box;
}
.text-bold {
  font-weight: 900;
}
.text-center {
  text-align: center;
}
.text-white {
  color: #fff;
}
.text-wine {
  color: #903;
}
.text-teal {
  color: #099;
}
.text-brown {
  color: #663;
}
.background-yellow {
  background-color: #ff0;
}
.background-brown {
  background-color: #993;
}

.article-container {
  display: flex;
}
.article-container img,
.aside-container img {
  width: 100%;
}
.article-img-container-350 {
  max-width: 350px;
  width: 100%;
}
.article-img-container-200 {
  margin-left: 30px;
  max-width: 200px;
  width: 100%;
}
.article-text-620 {
  margin-left: 20px;
  max-width: 620px;
  width: 100%;
}
.article-text-760 {
  margin-left: 150px;
  max-width: 760px;
  width: 100%;
}
.article-text-760 > p {
  font-style: italic;
}
@media (max-width: 768px) {
  .article-container {
    display: block;
  }
  .article-img-container-350 {
    margin: 0 auto 15px;
  }
  .article-img-container-200 {
    margin: 20px auto 0;
  }
  .article-text-620,
  .article-text-760 {
    margin: 0 10px;
  }
}

.aside-container {
  margin: 25px auto;
  max-width: 910px;
  width: 100%;
}
.aside-images {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.aside-img-container {
  margin: 0 30px;
  width: 165px;
}
.aside-text {
  display: flex;
}
.aside-text > p {
  margin-right: 20px;
  max-width: 744px;
  width: 100%;
}
.aside-link-container {
  border-radius: 146px;
  cursor: pointer;
  font-size: 1.5em;
  height: 146px;
  padding: 40px;
  text-align: center;
  width: 146px;
}
.aside-link-container a:link,
.aside-link-container a:visited {
  color: #fff;
}
.aside-link-container a:hover {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 768px) {
  .aside-img-container {
    margin: 0 10px;
    width: calc(33% - 20px);
  }
  .aside-text {
    display: block;
  }
  .aside-text > p {
    margin: 0 10px 15px;
  }
  .aside-link-container {
    margin-left: calc(100% - 156px);
  }
}
